// COLORS
$color-primary: #FFFFFF;
$color-secondary: #f3e9f1;
$color-titles: #000000;
$color-text: #000000;
$color-btnDelete: #808080;
$color-divider: #DCDCDC;

// FONT SIZE
$fontSize-h1: 2em;
$fontSize-h2: 1.5em;
$fontSize-p: 1em;
$fontSize-productName: 1.3em;
$fontSize-productPrice: .9em;
$fontSize-btnDelete: .8em;
$fontSize-btnPayment: .8em;
$fontSize-total: 1.5em;

// FONT FAMILY
$fontFamily-h1: 'Comic Sans MS';