// COLORS
$color-primary: #FFFFFF;
$color-secondary: #f3e9f1;
$color-titles: #000000;

// FONT SIZE
$fontSize-h1: 2em;
$fontSize-h2: 1.5em;
$fontSize-p: 1em;
$fontSize-productName: 1.3em;
$fontSize-productPrice: .9em;

// FONT FAMILY
$fontFamily-h1: 'Comic Sans MS';