.product{
    margin-bottom: 40px;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    &__img{
        width: 30%;
    }
    &__text{
        width: 30%;
        &__price{
            padding-bottom: 8px;
        }
    }

    &--page{
        margin-bottom: 40px;
        padding: 0px;
        display: flex;
        justify-content: space-around;
        &__img{
            width: 50%;
        }
        &__text{
            width: 30%;
            &__price{
                padding-bottom: 8px;
            }
        }
    }
}