h1 {
  font-size: 2em;
  font-family: "Comic Sans MS";
  color: #000000;
}

h2 {
  font-size: 1.5em;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

p {
  font-size: 1em;
}

.product__text__name {
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
}
.product__text__price {
  font-size: 0.9em;
}
.product--page__text__name {
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
}
.product--page__text__price {
  font-size: 0.9em;
}

.basket-delete-btn {
  font-size: 0.8em;
  color: #808080;
}

.basket-product-price {
  font-weight: bold;
}

.bkt-pg-ctn h2 {
  font-size: 1.5em;
  color: #000000;
  text-align: left;
}
.bkt-pg-ctn__abstract__price__p {
  font-weight: bold;
  font-size: 1em;
  align-self: center;
}
.bkt-pg-ctn__abstract__price__p--title {
  font-size: 1.5em;
}

.payment-btn {
  font-size: 0.8em;
  color: #000000;
}

body {
  margin: 0px;
}

p {
  margin: 0px;
}

.basket-delete-btn {
  padding: 6px 0px;
  background-color: transparent;
  opacity: 60%;
  border: none;
}
.basket-delete-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

.payment-btn {
  width: 60%;
  height: 40px;
  padding: 6px 0px;
  background-color: #f3e9f1;
  opacity: 80%;
  border-radius: 10px;
  border: 1px solid #DCDCDC;
}
.payment-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

header {
  width: 100%;
  height: 100px;
  margin: 0px;
  padding: 0px;
  background-color: #f3e9f1;
  display: flex;
  justify-content: center;
  align-items: center;
}
header a {
  background: linear-gradient(to top, #000000 0%, #000000 2px, transparent 3px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 300ms ease;
}
header a:hover {
  background-size: 100% 100%;
  opacity: 75%;
}
header a h1 {
  margin: 0px;
  padding: 0px;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
  margin: 0px;
  padding: 0px;
  background-color: #f3e9f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  margin-bottom: 40px;
  padding: 0px;
  display: flex;
  justify-content: space-around;
}
.product__img {
  width: 30%;
}
.product__text {
  width: 30%;
}
.product__text__price {
  padding-bottom: 8px;
}
.product--page {
  margin-bottom: 40px;
  padding: 0px;
  display: flex;
  justify-content: space-around;
}
.product--page__img {
  width: 50%;
}
.product--page__text {
  width: 30%;
}
.product--page__text__price {
  padding-bottom: 8px;
}

.home-pg-ctn h2 {
  margin: 20px 0px;
  padding: 0px;
  text-align: center;
}
.home-pg-ctn #product-grid {
  padding: 20px 20%;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-pg-ctn .product__img {
  transition: 300ms ease;
}
.home-pg-ctn .product__img:hover {
  opacity: 60%;
  cursor: pointer;
}
.home-pg-ctn .product__text a:hover {
  text-decoration: underline;
}

.bkt-pg-ctn {
  padding: 10px 20%;
  margin-bottom: 60px;
}
.bkt-pg-ctn h2 {
  margin: 20px 0px;
  padding: 0px;
  padding-bottom: 5px;
  border-bottom: 1px solid #DCDCDC;
}
.bkt-pg-ctn__abstract {
  display: flex;
  border-bottom: 1px solid #DCDCDC;
  margin: 20px 0px;
  padding: 20px 0px;
}
.bkt-pg-ctn__abstract__price {
  width: 35%;
  display: flex;
  justify-content: space-around;
}
.bkt-pg-ctn__abstract__btn {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bkt-pg-ctn #basket table {
  width: 100%;
}
.bkt-pg-ctn #basket tr {
  margin: 20px 0px;
  padding: 20px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #DCDCDC;
}
.bkt-pg-ctn #basket td {
  align-self: center;
}

/*# sourceMappingURL=style.css.map */
