.basket-delete-btn{
    padding: 6px 0px;
    background-color: transparent;
    opacity: 60%;
    border: none;
    &:hover{
        opacity: 100%;
        cursor: pointer;
    }
}

.payment-btn{
    width: 60%;
    height: 40px;
    padding: 6px 0px;
    background-color: $color-secondary;
    opacity: 80%;
    border-radius: 10px;
    border: 1px solid $color-divider;
    &:hover{
        opacity: 100%;
        cursor: pointer;
    }
}