h1{
    font-size: $fontSize-h1;
    font-family: $fontFamily-h1;
    color: $color-titles;
}
h2{
    font-size: $fontSize-h2;
    color: $color-titles;
    text-align: center;
}

a{
    text-decoration: none;
    color: $color-text;
}

p{
    font-size: $fontSize-p;
}

header{
    #mon_panier{
        a sup{
            font-size: $fontSize-quantity;
        }
    }
}

.product{
    &__text{
        &__name{
            font-size: $fontSize-productName;
            font-weight: bold;
            text-transform: uppercase;
        }
        &__price{
            font-size: $fontSize-productPrice;
        }
    }

    &--page{
        &__text{
            &__name{
                font-size: $fontSize-productName;
                font-weight: bold;
                text-transform: uppercase;
            }
            &__price{
                font-size: $fontSize-productPrice;
            }
        }
    }
}

.add-to-cart-btn{
    font-size: $fontSize-btn;
    color: $color-text;
}

.custom-choice-btn{
    font-size: $fontSize-btn;
    color: $color-text;
    text-align-last: center;
}

.delete-btn{
    font-size: $fontSize-btn;
    color: $color-btnDelete;
}

.deleteAll-btn{
    font-size: $fontSize-btn;
    color: $color-btnDelete;
}

.basket-product-price{
    font-weight: bold;
}

.bkt-pg-ctn{
    h2{
        font-size: $fontSize-h2;
        color: $color-text;
        text-align: left;
    }
    #basket{
        .bkt-end{
            &__total{
                font-weight: bold;
                font-size: $fontSize-p;
                align-self: center;
                font-size: $fontSize-total;
            }
            &__price{
                font-weight: bold;
                font-size: $fontSize-p;
                align-self: center;
            }
        }
    }
    #contactInfos{
        form{
            .legend{
                text-transform: uppercase;
                font-size: .8em;
                color: $color-btnDelete;
            }
            .textInput{
                font-size: $fontSize-form;
                color: $color-text;
            }
        }
    }
}

.payment-btn{
    font-size: $fontSize-btn;
    color: $color-text;
}

#order-confirmation{
    p{
        text-align: center;
        font-size: $fontSize-p;
        color: $color-text;
        span{
            font-weight: bold;
        }
    }
    .thanks{
    color: $color-primary;
    font-weight: bold;
    }
}