h1{
    font-size: $fontSize-h1;
    font-family: $fontFamily-h1;
    color: $color-titles;
}
h2{
    font-size: $fontSize-h2;
    color: $color-titles;
}

a{
    text-decoration: none;
    color: $color-text;
}

p{
    font-size: $fontSize-p;
}

.product{
    &__text{
        &__name{
            font-size: $fontSize-productName;
            font-weight: bold;
            text-transform: uppercase;
        }
        &__price{
            font-size: $fontSize-productPrice;
        }
    }

    &--page{
        &__text{
            &__name{
                font-size: $fontSize-productName;
                font-weight: bold;
                text-transform: uppercase;
            }
            &__price{
                font-size: $fontSize-productPrice;
            }
        }
    }
}

.basket-delete-btn{
    font-size: $fontSize-btnDelete;
    color: $color-btnDelete;
}
.basket-product-price{
    font-weight: bold;
}

.bkt-pg-ctn{
    h2{
        font-size: $fontSize-h2;
        color: $color-text;
        text-align: left;
    }
    &__abstract{
        &__price{
            &__p{
                font-weight: bold;
                font-size: $fontSize-p;
                align-self: center;
                &--title{
                    font-size: $fontSize-total;
                }
            }
        }
    }
    
}

.payment-btn{
    font-size: $fontSize-btnPayment;
    color: $color-text;
}